@import './_colors.sass';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $lightDark;
    font-family: 'Open Sans', sans-serif;
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

header{
    background: $lightDark;
    div{
        @include flex(row, space-between, center);
        padding: 1rem 2rem;
    }
    h1{
        font-size: 64px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-style: italic;
        color: $lightLight;
        span{
            color: $lightOutline;
        }
    }

    button{
        display: inline-block;
        background: $lightOutline;
        color: $lightLight;
        font-weight: 600;
        font-size: 20px;
        font-style: italic;
        padding: .5rem 1rem;
        border-radius: 14px;
        border: none;
        cursor: pointer;
    }
}

section{
    @include flex(column, center, center);
    width: 60%;
    margin: 2rem auto;
    min-height: 60vh;

    > *{
        margin-bottom: 3rem;
    }

    h2{
        font-size: 46px;
        text-align: center;
        font-weight: 800;
    }

    #parameters{
        width: 60%;
        box-shadow: 0 0 15px 5px lightgray;
        
        h3{
            text-align: center;
            margin: 1rem;
        }

        .flex{
            @include flex(row, center, space-around);
        }

        #range,
        #options{
            @include flex(column, center, space-between);
            margin: 2rem;
        } 

        #range{
            small{
                margin-bottom: 1rem;
            }
            output{
                align-self: center;
            }
        }
        #options > div{
            @include flex(row, space-between, center);
            
            label{
                margin-right: 1rem;
            }
        }

        input[type=range]{
            width: 300px;

            &::-moz-range-thumb{
                background: $lightOutline;
                border: none;
                scale: 150%; 
            }

            &::-moz-range-track{
                background: $lightDark;
                height: 5px;
            }
        }
    }

    #output{
        width: 60%;
        box-shadow: 0 0 15px 5px lightgray;

        form{
            display: grid;
            grid-template-columns: 8fr 1fr 1fr;
            *{
                height: 60px;
            }
    
            input{
                border: none;
            }
            button{
                border: none;
                background: $lightLight;
            }
        }
    }
}

footer{
    position: absolute;
    width: 100%;
    bottom: 3rem;
    p{
        text-align: center;
    }
}