*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #003049;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #003049;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

header h1 {
  font-size: 64px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

header h1 span {
  color: #D62828;
}

header button {
  display: inline-block;
  background: #D62828;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  padding: .5rem 1rem;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 2rem auto;
  min-height: 60vh;
}

section > * {
  margin-bottom: 3rem;
}

section h2 {
  font-size: 46px;
  text-align: center;
  font-weight: 800;
}

section #parameters {
  width: 60%;
  -webkit-box-shadow: 0 0 15px 5px lightgray;
          box-shadow: 0 0 15px 5px lightgray;
}

section #parameters h3 {
  text-align: center;
  margin: 1rem;
}

section #parameters .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

section #parameters #range,
section #parameters #options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin: 2rem;
}

section #parameters #range small {
  margin-bottom: 1rem;
}

section #parameters #range output {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section #parameters #options > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #parameters #options > div label {
  margin-right: 1rem;
}

section #parameters input[type=range] {
  width: 300px;
}

section #parameters input[type=range]::-moz-range-thumb {
  background: #D62828;
  border: none;
  scale: 150%;
}

section #parameters input[type=range]::-moz-range-track {
  background: #003049;
  height: 5px;
}

section #output {
  width: 60%;
  -webkit-box-shadow: 0 0 15px 5px lightgray;
          box-shadow: 0 0 15px 5px lightgray;
}

section #output form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 1fr 1fr;
      grid-template-columns: 8fr 1fr 1fr;
}

section #output form * {
  height: 60px;
}

section #output form input {
  border: none;
}

section #output form button {
  border: none;
  background: #fff;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 3rem;
}

footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */