:root {
  --dark: #003049;
  --light: #fff;
  --outline: #D62828;
  --grey: #c3c3c3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--dark);
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--light);
}

header {
  background: #003049;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

header h1 {
  font-size: 64px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

header h1 span {
  color: #D62828;
}

header button {
  background: var(--outline);
  padding: .5rem 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

header #light {
  display: none;
}

header #dark::after,
header #light::after {
  color: #fff;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 30px;
}

header #dark::after {
  content: '\f186';
}

header #light::after {
  content: '\f185';
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 2rem auto;
  min-height: 60vh;
}

section > * {
  margin-bottom: 3rem;
}

section h2 {
  font-size: 46px;
  text-align: center;
  font-weight: 800;
}

section #parameters {
  width: 60%;
  -webkit-box-shadow: 0 0 15px 5px var(--grey);
          box-shadow: 0 0 15px 5px var(--grey);
}

section #parameters h3 {
  text-align: center;
  margin: 1rem;
}

section #parameters hr {
  background: var(--dark);
  height: 2px;
  width: 80%;
  margin: 0 auto;
}

section #parameters .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

section #parameters #range,
section #parameters #options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin: 2rem;
}

section #parameters #range small {
  margin-bottom: 1rem;
}

section #parameters #range output {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section #parameters #options > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

section #parameters #options > div label {
  margin-right: 1rem;
}

section #parameters input[type=range] {
  width: 300px;
}

section #parameters input[type=range]::-moz-range-thumb {
  background: var(--outline);
  border: none;
  scale: 200%;
}

section #parameters input[type=range]::-moz-range-track {
  background: var(--dark);
  height: 5px;
}

section #parameters input[type=checkbox] {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

section #output {
  width: 60%;
  -webkit-box-shadow: 0 0 15px 5px var(--grey);
          box-shadow: 0 0 15px 5px var(--grey);
  border-radius: 5px;
}

section #output form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 1fr 1fr;
      grid-template-columns: 8fr 1fr 1fr;
}

section #output form * {
  height: 60px;
  margin: 0 2px;
}

section #output form input {
  border: none;
}

section #output form button {
  background: var(--light);
  border: none;
  cursor: pointer;
}

section #output form #password {
  text-align: center;
  color: #003049;
  background: #fff;
  font-size: 28px;
  font-weight: 500;
}

section #output form #copy::after,
section #output form #reload::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 30px;
}

section #output form #copy::after {
  content: '\f24d';
}

section #output form #reload::after {
  content: '\f2f1';
}

footer {
  position: absolute;
  width: 100%;
  bottom: 3rem;
}

footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */