:root{
    --dark: #003049;
    --light: #fff;
    --outline: #D62828;
    --grey: #c3c3c3;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-family: 'Open Sans', sans-serif;
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

body{
    background: var(--light);
}

header{
    background: #003049;
    div{
        @include flex(row, space-between, center);
        padding: 1rem 2rem;
    }
    h1{
        font-size: 64px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-style: italic;
        color: #fff;
        span{
            color: #D62828;
        }
    }

    button{
        background: var(--outline);
        padding: .5rem 1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }
    #light{
        display: none;
    }
    #dark::after,
    #light::after{
        color: #fff;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 30px;
    }
    #dark::after{
        content: '\f186'; 
    }
    #light::after{
        content: '\f185';
    }

}

section{
    @include flex(column, center, center);
    width: 60%;
    margin: 2rem auto;
    min-height: 60vh;

    > *{
        margin-bottom: 3rem;
    }

    h2{
        font-size: 46px;
        text-align: center;
        font-weight: 800;
    }

    #parameters{
        width: 60%;
        box-shadow: 0 0 15px 5px var(--grey);
        
        h3{
            text-align: center;
            margin: 1rem;
        }

        hr{
            background: var(--dark);
            height: 2px;
            width: 80%;
            margin: 0 auto;
        }
        .flex{
            @include flex(row, center, space-around);
        }

        #range,
        #options{
            @include flex(column, center, space-between);
            margin: 2rem;
        } 

        #range{
            small{
                margin-bottom: 1rem;
            }
            output{
                align-self: center;
            }
        }
        #options > div{
            @include flex(row, space-between, center);
            margin-bottom: 1rem;
            
            label{
                margin-right: 1rem;
            }
        }

        input[type=range]{
            width: 300px;

            &::-moz-range-thumb{
                background: var(--outline);
                border: none;
                scale: 150%; 
            }

            &::-moz-range-track{
                background: var(--dark);
                height: 5px;
            }
        }
        input[type=checkbox]{
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    #output{
        width: 60%;
        box-shadow: 0 0 15px 5px var(--grey);
        border-radius: 5px;

        form{
            display: grid;
            grid-template-columns: 8fr 1fr 1fr;
            *{
                height: 60px;
            }
    
            input{
                border: none;
            }
            button{
                background: var(--light);
                border: none;
                cursor: pointer;
            }
            #copy::after,
            #reload::after{
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 30px;
            }

            #copy::after{
                content: '\f24d';
            }
            #reload::after{
                content: '\f2f1';
            }
        }
    }
}

footer{
    position: absolute;
    width: 100%;
    bottom: 3rem;
    p{
        text-align: center;
    }
}